In [ ]:
# List
# mutable, duplication allowd, heterogenous, indexing is present
# left to right (0 - -1) positive index
# right to left (-1 - 0) negative index

In [1]:
ls = []
type(ls)

list

In [6]:
# Slicing
cnty = ['Scotland', 'Norway', 'Finland', 'Iceland', 'Switzerland', 'Greenland']

cnty[2:4]
cnty[-4:-3] # [min : max]

['Finland']

In [9]:
# Updating values(using index we can update values)
flw = ['rose','jasmine','tulip','mogra','lavender','lily','hibiscus','lotus']

flw[3] ='royal'
flw

['rose', 'jasmine', 'tulip', 'royal', 'lavender', 'lily', 'hibiscus', 'lotus']

In [15]:
# Inserting/append values to list
# appned will add at end of the list

flw.append('Prjakta')
flw

# For updating in between insert() takes 2 arguments
flw.insert(1,'Blossom')
flw

# Can pass collection 
flw.append(('bottle','book'))
flw
print(flw)

['rose', 'Blossom', 'Blossom', 'Blossom', 'Blossom', 'Blossom', 'jasmine', 'tulip', 'royal', 'lavender', 'lily', 'hibiscus', 'lotus', 'Prjakta', 'Prjakta', 'Prjakta', 'Prjakta', 'Prjakta', ('bottle', 'book'), 'Prjakta', ('bottle', 'book')]

In [16]:
month = ['jan','feb','mar']
len(month)

3

In [18]:
# extend will add more than one value to list
new_month = ['april', 'may']
month.extend(new_month)
month

['jan', 'feb', 'mar', 'april', 'may', 'april', 'may']

In [21]:
# sort() (Ascending)
# sort(reverse = True) descending

lst = [76,12,56,8,9,4,45,87]
lst.sort()
lst

lst.sort(reverse = True)
lst

[87, 76, 56, 45, 12, 9, 8, 4]

In [23]:
# reverse() reverse the list
lst.reverse()
lst

[4, 8, 9, 12, 45, 56, 76, 87]

In [24]:
# Removing values from List
#01 remove() value based removal

num = ['a','b','c','d','e','f','g']
num.remove('b')
num

['a', 'c', 'd', 'e', 'f', 'g']

In [26]:
#pop removes latest record and hold the value can be used on index
num.pop()
num.pop(3)

'e'

In [36]:
#del removes using inde and can empty the list
num
del num[3]
num

['a', 'c', 'd', 'k', 'l', 'y']

In [38]:
del num[0:2]
num

['l', 'y']

In [39]:
# clear() values will be cleared out empty list appear

num.clear()
num

[]

In [41]:
# copy (1[]=2[] creates reference second list depneds on first and will update as per first)

this = [1,2,3,4,5]
that = this
this.append(6)
print(this)
print(that)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [43]:
#copy() this will take first copy but wont update further

a = [1,2,3,4]
b = a.copy()               # whayy not copy(a)
print(a)
print(b)

b.append(8)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 8]

In [45]:
#index to find the position of value
month

month.index('mar')

2