#Set {stores uninq values}
unindexed, non ordered and no duplication allowd
no index so no slicing avialbe
for reading data we can use loop
no inde so 'add' used for data insertion (append for list)
adding multipke values using 'update' (extend in list)
removing item 'remove' raise exception when item not avilabe
'discard' wont raise exception when item not avilabe
Intersection common values in both set
union all non duplicated values
difference (set - set2)
del
clear
pop() any value will be poped out

In [1]:
obj = {1,}
type(obj)

set

In [2]:
se = {1,3,4,2,5,4,6,6} #ignores dupliccates
se

{1, 2, 3, 4, 5, 6}

In [3]:
se1 = {'a','b','c','d','a','b','c'}

for i in se1:
    print(i)

d
b
c
a

In [4]:
se1.add('z') #new record added
print(se1)

{'d', 'b', 'z', 'c', 'a'}

In [5]:
se1.update('A','B','C') #multiple records at a time
se1

{'A', 'B', 'C', 'a', 'b', 'c', 'd', 'z'}

In [6]:
se1.remove('A')
se1

{'B', 'C', 'a', 'b', 'c', 'd', 'z'}

In [9]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}

s1.intersection(s2)
s1.union(s2)
s1.difference(s2)

{1, 2}